/* General settings */
* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  overflow: hidden;
}

.fa-regular,
.fa-solid {
  margin: 5px;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#main-logo {
  max-height: 50px;
  max-width: 50px;
}

/* Page grid setting */
body {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  max-width: 1300px;
  margin: 0 auto;
}

/* Padding */
aside,
nav {
  padding: 10px;
}

/* Navigation bar that is on the left */
nav {
  display: grid;
  grid-column: 1 / span 1;
  background-color: red;
}

/* Middle section where the main content is */
main {
  border: 0;
  border-right: 2px;
  border-left: 2px;
  border-style: solid;
  border-color: lightgreen;
}

.home-bar {
  display: flex;
  height: 50px;
  margin-top: 10px;
  padding: 0 10px;
  border: 0;
  border-bottom: 2px;
  border-style: solid;
  border-color: lightgreen;
}

.hb-icon {
  display: flex;
  width: 100%;
  font-size: 25px;
  justify-content: right;
  color: lightgreen;
}

.post-box,
.post-card {
  display: grid;
  padding: 10px;
  padding-bottom: 4px;
  grid-template-columns: min-content auto;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 10px;
  border: 0;
  border-bottom: 6px;
  border-color: lightgreen;
  border-style: solid;
}

.pb-propic {
  display: flex;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  justify-content: center;
  align-items: start;
}

.pb-top,
.pc-top,
.pb-bottom,
.pc-bottom {
  grid-column: 2;
}

.pb-top,
.pc-top {
  display: flex;
  width: 100%;
  grid-row: 1 / span 1;
}

.post-text,
.post-title,
.post-content {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-size: medium;
}

.pb-bottom,
.pc-bottom {
  display: grid;
  grid-row: 2 / span 1;
  justify-content: left;
  align-items: center;
  grid-template-columns: 1fr min-content;
  width: 100%;
  border: 0;
  border-top: 2px;
  border-style: solid;
  border-color: lightgreen;
}

.pb-bottom-icons,
.pc-bottom-icons {
  display: flex;
  grid-column: 1 / span 1;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  color: lightgreen;
  font-size: 20px;
  gap: 10px;
}

.pb-bottom-icons i:hover,
.hb-icon i:hover {
  text-shadow: 1px 1px 5px pink;
}

.pb-bottom-icons i:active,
.hb-icon i:active {
  text-shadow: 0 0 0;
  color: black;
}

.post-button {
  display: flex;
  grid-column: 2 / span 1;
  background-color: lightgreen;
  border: 0;
  height: 30px;
  padding: 0 15px 0 15px;
  border-radius: 15px;
  font-weight: bold;
  justify-content: right;
  align-items: center;
}

.post-button:hover {
  box-shadow: 1px 1px 5px lightgreen;
}

.post-button:active {
  box-shadow: 0 0 0;
  background-color: black;
  color: white;
}

.post-card {
  grid-template-rows: auto auto;
  margin-bottom: 0;
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: lightgreen;
}

.pc-top {
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

.post-title {
  grid-row: 1;
  align-items: start;
  gap: 5px;
}

.post-title p {
  color: gray;
}

.mention {
  color: lightgreen;
}

.post-content {
  margin-top: 2px;
  grid-row: 2;
}

.post-content-pic {
  display: flex;
  grid-row: 3;
  justify-content: left;
  margin: 10px;
}

.post-content-pic img {
  border-radius: 15px;
  box-shadow: 1px 1px 15px gray;
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: top;
  transition: 0.05s;
}

.post-content-pic img:hover {
  object-fit: contain;
}

.post-content-pic img:active {
  position: absolute;
  height: 100%;
  width: max-content;
  left: 33%;
  top: 0;
  transition: 0.05s;
}

.pc-bottom {
  grid-column: 1 / span 2;
  border: 0;
}

.pc-bottom-icons {
  grid-column: 1 / span 2;
  justify-content: space-evenly;
  color: gray;
  padding: 0;
}

.loved {
  color: red;
  font-size: 22px;
}

.pc-bottom-icons i:hover {
  text-shadow: 1px 1px 5px lightgreen;
}

.pc-bottom-icons i:active {
  text-shadow: 0 0 0;
  color: black;
}

/* Right bar where the search is */
aside {
  display: inline;
  padding: 10px;
}

.search-box {
  display: flex;
  height: 50px;
  border: 0;
  border-style: solid;
  border-radius: 50px;
  background-color: lightgreen;
}

.news-card {
  display: block;
  background-color: lightgreen;
  padding: 10px;
  margin: 20px 0;
  border-radius: 15px;
  gap: 20px;
}

.news-card h3 {
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

input {
  background-color: inherit;
  width: 100%;
  border: 0;
  border-radius: inherit;
  outline: 0;
  margin-right: 20px;
}

.search-box button {
  border-radius: 50%;
  background-color: inherit;
  border: 0;
  padding: 0 10px;
  width: 50px;
}

.search-box button:active {
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: lightgreen;
  padding: 0 8px;
}

/* General settings */
.propic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
